#search {
    width: 275px;
    height: 25px;
    /* border: 2px solid red; */
    border-radius: 5%;
}

.searchResults{
    background: white;
    position: fixed;
    z-index: 3;
    max-width: 13.725vw;
    border: 1px black solid;
    overflow:hidden;
}
