#search {
    width: 275px;
    height: 25px;
    /* border: 2px solid red; */
    border-radius: 5%;
}

.searchResults{
    background: white;
    position: fixed;
    z-index: 3;
    width: 16vw;
    border: 1px black solid

}
