.ListButtonModalGood{
    background-color: #EDB714;
    width: 100px;
    border-radius: 4px;
    border-color:burlywood ;
}

.ListflexdivOne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#styledListModalInputBox{
    border-radius: 4px;
    width: 220px;
}
