#loginForm{
    display: flex;
    min-width: 200px;
    min-height: 300px;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;

    
}

.outerlogindiv{
    
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#loginButton{
    width: 424px;
    height: 3rem;
    background-color: #EEED09;
    color: #1e1e01;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 54px;
    margin-top: 50px;
}

.emailLoginLabel{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 18px;
    padding-right: 30px;

}

.loginemailbox{
    width: 400px;
    border-color: rgba(0, 0, 0, 0.836);
    border-radius: 10px;
    height: 22px;
    padding: 10px;
    font-size: 16px;
    border-width: 1px;
}

#loginemailboxid{
    margin-left: 30px;
}