.Note{
  display:flex;
  flex-direction: column;

}

.NoteButtonTaskDetails{
  background-color: #EDB714;
  min-width: 15vw;
  max-width:15vw;
}

#inputBoxnoteTaskDetails{
  width: 97%;
  min-width: 14vw;
  max-width: 15vw;
}

.dropDownForAddToList{
  width:8vw;
}

.buttonForAddToList{
  width: 8vw;
  background-color: #EDB714;
  height:2.25vh;
}
