.Note{
  display:flex;
  flex-direction: column;

}

.NoteButtonTaskDetails{
  background-color: #EDB714;
  height: 26px;
  width: 100%;
  border-radius: 12px;
  align-content: center;
  border-color: bisque;
}

#inputBoxnoteTaskDetails{
  width: 97%;
  min-width: 14vw;
  max-width: 15vw;
  margin-bottom: 5%;
}

.dropDownForAddToList{
  width:9vw;
}

.buttonForAddToList{
    background-color: #EDB714;
    height: 26px;
    width: 50%;
    border-radius: 12px;
    align-content: center;
    border-color: bisque;
}
