/* TODO Add site wide styles */

:root {
    /* font-family: 'Indie Flower', cursive; */


    font-family: 'Syne Mono', monospace;

    height: 100vh;
    /* font-family: 'Special Elite', cursive; */
    
    
    /* font-family: 'Play', sans-serif; */

}

body {

    height: 100vh;
    margin: 0;
}

/* .all-tasks {
    padding: 12px;
    width: 591px;
    height: 100vh;
    margin-left: 210px;
    justify-content: start;
    align-items: start; 
    background-color: white;
    position: relative;
    top: -900px;
    border-radius: 10px;
} */