/* TODO Add site wide styles */

:root {
    /* font-family: 'Indie Flower', cursive; */


    font-family: 'Syne Mono', monospace;

    
    /* font-family: 'Special Elite', cursive; */
    
    
    /* font-family: 'Play', sans-serif; */

}

body {

    height: 100vh;
    margin: 0;
}