/* TODO Add site wide styles */

:root {
    /* font-family: 'Indie Flower', cursive; */

    background-color: rgba(161, 198, 223, 0.436);
    font-family: 'Syne Mono', monospace;

    /* border: 10px solid green; */
    /* font-family: 'Special Elite', cursive; */

    /* height: 100vh; */
    /* font-family: 'Play', sans-serif; */

}

body {
    height: 100vh;
    /* border: 10px solid green; */
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button {
    cursor: pointer;
    font-family: 'Syne Mono', monospace;
}

input {
    font-family: 'Syne Mono', monospace;
}

select {
    font-family: 'Syne Mono', monospace;
}

/* a:hover {
    box-shadow: 1px 1px grey;
} */
