.mainTaskDetailsOutDiv{

    top: 5vh
}

.someDiv{
    border: 1px solid black;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.someOtherDiv{

    position: relative;

}

.noteOuterDivTaskDetails{
    border: 1px solid black;
    width: 50vh;
    display: flex;
    justify-content: center;
}

#labelDivTaskDetailsNotes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerNoteCreationTaskDetails{
    margin-top: 40px;
}


.noteDivContainerTaskDetails{
    display: flex;
    flex-direction: column;
}

.noteDeleteButtonTaskDetails{


    background-color: #EDB714;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

#buttonForAddToList{

}


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10vh;
}

#h1taskdetails{

}

.outerTaskDetailsLeftDiv{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-height: 100vh;
}


#dropDownForAddToList{
    min-height: 30px;
    border-radius: 2px;
}

#InputBoxEditTaskName{
    min-height: 24px;
    border-radius: 4px;

}

.EditTaskButtonTaskDetails{

}


.note-title{
    display: flex;
    font-size: 14px;
    justify-content: center;
}
