.Task {
    /* border: 2px solid red; */

}

.Task input {
    width: 100%;
    height: 30px;
}

.task-form-container{

    width: 100%;
    margin: 0
}

.container{
    width: 100%;
}

.add-task-form{
    width: 100%;
    /* border-radius: 25px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid blue; */

}

.add-task-form input {
    width: 25vw;
}

.task-form-input-field{
    width: 99%;
    border-radius: 5px;
}
