.home-body {
    /* border: 2px solid yellow; */
    background-color: rgba(88, 102, 161, 0.677);
}

.home-page-left {
    border: 2px solid blue;
    height: 100%;
    /* width: 10%; */
    /* position: relative; */
    overflow: hidden;
    top: 0;
}



#evilUnstyledButtonOne{
background-color: #EDB714;
width: 90px;
height: 40px;
border-radius: 12px;
margin-left: 6px;
cursor: pointer;
}
