.home-body {
    /* border: 2px solid yellow; */
    background-color: rgba(88, 102, 161, 0.677);
}

.home-page-left {
    /* border: 2px solid blue; */
    max-height: 100vh;
    /* width: 10%; */
    /* position: relative; */
    overflow-y: scroll;
    top: 0;
}

.home-page-left::-webkit-scrollbar {
 width: 0.5em;
}

.home-page-left::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.home-page-left::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.343);
    outline: 1px solid rgba(112, 128, 144, 0.662);
  }



#evilUnstyledButtonOne{
background-color: #EDB714;
width: 90px;
height: 40px;
border-radius: 12px;
margin-left: 6px;
cursor: pointer;
}
