.list-name {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}


.list-name-div {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-weight: 100;
    font-size: small;
}

.list-name-div i {
    cursor: pointer;
}

.list-name-div i:hover {
    border-radius: 50px;
    box-shadow: 2px 2px 12px black;
}